---
import "../../styles/style.css"
---

<article>
 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis placeat nam in corrupti. Vitae qui, magni tempore ad veniam error explicabo commodi quas dicta sint, cum laboriosam vero optio? Adipisci.</p>
</article>

<style></style>