---
import Bg_icon from "../components/Bg_icon.astro";
import Burger from "../components/Burger.astro";
import Card from "../components/Card.astro";
import Footer_mobile from "../components/Footer_mobile.astro";
import Footer from "../components/Footer.astro";
import Header_mobile from "../components/Header_mobile.astro";
import Header from "../components/Header.astro";
import K_pil from "../components/K_pil.astro";
import Karrusel from "../components/Karrusel.astro";
import Knap from "../components/Knap.astro";
import Nyhed from "../components/Nyhed.astro";
import Single_card from "../components/Single_card.astro";
import Sprog from "../components/Sprog_knap.astro";
import Topknap_mobile from "../components/Topknap_mobile.astro";
import Topknap from "../components/Topknap.astro";
import "../styles/style.css";
---

<div><Bg_icon /></div>
<div><Burger /></div>
<div><Card /></div>
<div><Footer_mobile /></div>
<div><Footer /></div>
<div><Header_mobile /></div>
<div><Header /></div>
<div><K_pil /></div>
<div><Karrusel /></div>
<div><Knap /></div>
<div><Nyhed /></div>
<div><Single_card /></div>
<div><Sprog /></div>
<div><Topknap_mobile /></div>
<div><Topknap /></div>

<h1>Testside af komponenter</h1>