---
import "../styles/style.css";
import Card from "../components/Card.astro";
import Header from "../components/Header.astro";
import Nyhed from "../components/Nyhed.astro";
import L1 from "../components/lightbeams/L1.astro";
import Bg_icon from "../components/Bg_icon.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Header />
    <h1>Astro</h1>
    <Knap text="klik her" />
		<Bg_icon/>
		<L1 />
    <Nyhed />
  </body>
</html>
