---
import "../styles/style.css"
---

<article>
    <div class="bg_container">
    <div class="circle1"></div>
    <div class="circle2"></div>
    <div class="circle3"></div>
    <div class="circle4"></div>
    </div>
</article>

<style>
.bg_container{
position: relative;
width: 100%;
height: auto;
}

 .circle1 {
  width: 391px; /* Diameteren af cirklen */
  height: 158px; /* Diameteren af cirklen */
  border-radius: 50%; /* Gør elementet til en cirkel */
  background-color: 	rgb(142, 96, 242, 0.5); /* Farven på cirklen */
  filter: blur(12px); /*gør cirklen sløret*/
  rotate: 337.71deg;
  position: absolute;
  left: 50%;
  z-index: 0;
}
.circle2 {
  width: 287px; 
  height: 145px; 
  border-radius: 50%; /* Gør elementet til en cirkel */
  background-color: 	rgb(204, 96, 242, 0.5); /* Farven på cirklen */
  filter: blur(12px); /*gør cirklen sløret*/
  rotate: 6.05deg;
  position: absolute;
  left: 42%;
  z-index: 1;
}

.circle3 {
  width: 180px; 
  height: 145px; 
  border-radius: 50%; /* Gør elementet til en cirkel */
  background-color: 	rgb(245, 57, 71, 0.3); /* Farven på cirklen */
  filter: blur(12px); /*gør cirklen sløret*/
  position: absolute;
  top: 37px;
  left: 50%;
  z-index: 2;
}

.circle4 {
  width: 160px; 
  height: 145px; 
  border-radius: 50%; /* Gør elementet til en cirkel */
  background-color: 	rgb(180, 88, 146, 0.4); /* Farven på cirklen */
  filter: blur(12px); /*gør cirklen sløret*/
  rotate: 334deg;
  position: absolute;
  left: 55%;
  z-index: 3;
}




</style>