---
import Knap from "../components/Knap.astro";
---

<article>
  <h2>Overskift</h2>
  <img src="../" alt="" />
  <p>Der skal være et img her:)</p>
  <div><Knap text="Læs Mere" /></div>
</article>

<style>
  h2,
  div {
    padding-left: 30px;
  }
</style>

<!-- EVT mere venstre padding når der kommer et img:))) -->
