---
import Knap from "../components/Knap.astro";
const { overskrift } = Astro.props;
const data = Astro.props;
---

<article>
  <h3>{overskrift}</h3>
  <!-- <img src={Billede} alt="Billede"> -->
  <img src={data.image} alt="billede" />

  <div><Knap text="Læs Mere" /></div>
</article>

<style>
  article {
    display: grid;
  }
  h3,
  img,
  div {
    align-self: center;
    justify-self: center;
  }
</style>
