<section>
  <h3>Program</h3>
  <ul>
    <li>
      <a href=""
        >Lysværker<a href=""></a>
        <li>
          <a href="">Ruter</a>
          <li><a href="">Events</a></li>
          <li><a href="">Guidede ture</a></li>
        </li>
        <h3>Kontakt</h3>
        <a href="">info@copenhagenlightfestival.org</a>
        <p>+45 2555 6604</p>
        <a href="">Om os</a>
        <div class="flex">
          <a href=""><img src="icon/icon_instagram.svg" alt="" /></a>
          <a href=""><img src="icon/icon_facebook.svg" alt="" /></a>
          <a href=""><img src="icon/icon_youtube.svg" alt="" /></a>
        </div>
        <h4>©COPENHAGEN LIGHT FESTIVAL</h4>
      </a>

      <style>
        section {
          align-items: center;
        }
        h3 {
          color: var(--primary-text-color);
        }
        a {
          color: var(--primary-text-color);
        }
        li {
          list-style: none;
        }
        .flex a {
          text-decoration: none;
        }

        img: hover{

        }
      </style>
    </li>
  </ul>
</section>
