<section class="flex">
  <div>
    <h3>Kontakt</h3>
    <a href="">info@copenhagenlightfestival.org</a>
    <p>+45 2555 6604</p>
    <a href="">Om os</a>
    <div class="flex_icon">
      <a href="" class="insta"><img src="icon/icon_instagram.svg" alt="" /></a>
      <a href="" class="fb"><img src="icon/icon_facebook.svg" alt="" /></a>
      <a href="" class="yt"><img src="icon/icon_youtube.svg" alt="" /></a>
    </div>
  </div>
  <div>
    <h3>Program</h3>
    <ul>
      <li>
        <a href=""
          >Lysværker<a href=""></a>
          <li>
            <a href="">Ruter</a>
            <li><a href="">Events</a></li>
            <li><a href="">Guidede ture</a></li>
        </ul>
        
    </div>
        <div>
          <h3>Hovedsponsorer</h3>
          <a href="">Andre sponsorer</a>
          <img src="" alt="" /><img src="" alt="" /><img src="" alt="" /><img
            src=""
            alt=""
          /><img src="" alt="" />
        </div>
      
    </section>
      <h4>©COPENHAGEN LIGHT FESTIVAL</h4>



      <style>
        .flex {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          
        }
        h3{
            color: var(--primary-text-color);
        }
        h4 {
          color: var(--primary-text-color);
          text-align: center
        }

        a:link {
          color: var(--primary-text-color);
        }
        a:hover {
          color: var(--link-hover);
        }

        a:visited {
          color: var(--link-visited);
        }
        li {
          list-style: none;
          
        }
        .flex_icon a {
          text-decoration: none;
        }
        .insta img:hover {
          background: url("icon/icon_instahover.svg") no-repeat;
        }
        .fb img:hover {
          background: url("icon/icon_fbhover.svg") no-repeat;
        }
        .yt img:hover {
          background: url("icon/icon_ythover.svg") no-repeat;
        }
      </style>
