<section id="deskFooter" class="grid">
  <div>
    <h3>Kontakt</h3>
    <a href="">info@copenhagenlightfestival.org</a>
    <p>+45 2555 6604</p>
    <a href="">Om os</a>
    <div class="flex_icon">
      <a href="https://www.instagram.com/cphlightfest/ " class="insta"></a>
      <a href="https://www.facebook.com/cphlightfest/" class="fb"></a>
      <a href="https://www.youtube.com/@cphlightfest5395/ " class="yt"></a>
    </div>
  </div>
  <div>
    <h3>Program</h3>
    <ul>
      <li>
        <a href="/program"
          >Lysværker<a href=""></a>
          <li>
            <a href="">Ruter</a>
            <li><a href="">Events</a></li>
            <li><a href="">Guidede ture</a></li>
          </li>
        </a>
      </li>
    </ul>
  </div>
  <div>
    <h3>Hovedsponsorer</h3>
    <a href="">Andre sponsorer</a>
    <img src="" alt="" /><img src="" alt="" /><img src="" alt="" /><img
      src=""
      alt=""
    /><img src="" alt="" />
  </div>

  <h4>©COPENHAGEN LIGHT FESTIVAL</h4>
</section>
<style>
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
  }

  section {
    margin: -2rem;
    background-color: var(--bg-overlay);
    padding: 4rem;
  }
  h3 {
    color: var(--primary-text-color);
  }
  h4 {
    color: var(--primary-text-color);
    grid-column: span 4;
    text-align: center;
    justify-content: center;
  }

  a:link {
    color: var(--primary-text-color);
  }

  a:visited {
    color: var(--link-visited);
  }
  a:hover {
    background: var(--link-hover);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  li {
    list-style: none;
    line-height: 30px;
  }
  .flex_icon a {
    text-decoration: none;

    margin: 1%;
  }
  .insta {
    background: url("icon/icon_instagram.svg") no-repeat;
    width: 50px;
    height: 50px;
    display: inline-block;
  }
  .insta:hover {
    background: url("icon/icon_instahover.svg") no-repeat;
  }
  .fb {
    background: url("icon/icon_facebook.svg") no-repeat;
    width: 50px;
    height: 50px;
    display: inline-block;
  }
  .fb:hover {
    background: url("icon/icon_fbhover.svg") no-repeat;
  }
  .yt {
    background: url("icon/icon_youtube.svg") no-repeat;
    width: 50px;
    height: 50px;
    display: inline-block;
  }
  .yt:hover {
    background: url("icon/icon_ythover.svg") no-repeat;
  }

  /*   ---------media q------- */
  @media screen and (max-width: 700px) {
    .flex {
      display: none;
    }
  }
</style>
