<section>
    <h3>Program</h3>
    <ul>
    <li><a href="">Lysværker<a href=""></li>
    <li><a href="">Ruter</a>
    <li><a href="">Events</a></li>
    <li><a href="">Guidede ture</a></li>
</ul>
    <h3>Kontakt</h3>
    <a href="">info@copenhagenlightfestival.org</a>
    <p>+45 2555 6604</p>
    <a href="">Om os</a>
    <div class="flex">
    <a href="">Instagram <img src="../" alt=""></a>
    <a href="">Facebook</a>
    <a href="">Youtube</a>
</div>
    <h4>©COPENHAGEN LIGHT FESTIVAL</h4>
</section>

<style>
    .h3{
        color:var(--primary-text-color);
    }
    a{
        color:var(--primary-text-color);
    }
    li{
        list-style: none;
    }

    .flex a{
        text-decoration: none;
    }
</style>