---
import "../styles/style.css";
import Knap from "../components/Knap.astro";
import Sprog_knap from "./Sprog_knap.astro";
const ThePageWeAreOn = new URL(Astro.request.url).pathname;
console.log("ThePageWeAreOn", ThePageWeAreOn);
---

<header id="descNav">
  <nav class="flexNav">
    <a href="/"><img src="/icon/Logo.svg" alt="Logo" /></a>
    <ul class="flexUl">
      <li>
        <a href="samarbejde"
          ><Knap
            text="SAMARBEJDE"
            active={ThePageWeAreOn === "/samarbejde"}
          /></a
        >
      </li>
      <li>
        <a href="ruter"
          ><Knap text="RUTER" active={ThePageWeAreOn === "/ruter"} /></a
        >
      </li>
      <li>
        <a href="program"
          ><Knap text="PROGRAM" active={ThePageWeAreOn === "/program"} /></a
        >
      </li>
      <li>
        <a href="omos"
          ><Knap text="OM OS" active={ThePageWeAreOn === "/omos"} /></a
        >
      </li>
      <li>
        <a href="foto"
          ><Knap
            text="FOTOKONKURRENCE"
            active={ThePageWeAreOn === "/foto"}
          /></a
        >
      </li>
    </ul>
    <div class="grid">
      <Sprog_knap />
      <div>February 2 - 25/2024</div>
      <div>København</div>
    </div>
  </nav>

  <style>
    nav {
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 100;
    }
    ul {
      list-style: none;
      max-width: fit-content;
      padding: 10px;
      border-radius: 25px;
      background-color: var(--bg-overlay);
      justify-content: center;
      align-items: center;
    }

    a {
      font-family: "circular";
      font-size: 16px;
    }

    .grid {
      display: grid;
      gap: 0.3rem;
    }

    .flexUl {
      display: flex;
      gap: 1rem;
    }
    .flexNav {
      display: flex;
      gap: 16%;
    }

    /*   --------media q------ */
    @media screen and (max-width: 700px) {
      header {
        display: none;
      }
    }
  </style>

  <script></script>
</header>
