---
import Knap from "../components/Knap.astro";
import SprogKnap from "./Sprog_knap.astro";
---

<header>
  <nav class="flexNav">
    <a href="/"><img src="/icon/Logo.svg" alt="Logo" /></a>
    <ul class="flexUl">
      <li><a href="/"><Knap text="SAMRBEJDE" /></a></li>
      <li><a href="/"><Knap text="KORT" /></a></li>
      <li><a href="/program"><Knap text="PROGRAM" /></a></li>
      <li><a href="/"><Knap text="OM OS" /></a></li>
      <li><a href="/"><Knap text="FOTOKONKURRENCE" /></a></li>
    </ul>

    <div class="grid">
      <SprogKnap />
      <div>February 2 - 25/2024</div>
      <div>København</div>
    </div>
  </nav>
</header>

<style>
  nav {
    justify-content: center;
    align-items: center;
  }
  ul {
    list-style: none;
    max-width: fit-content;
    padding: 10px;
    border-radius: 25px;
    background-color: var(--bg-overlay);
    justify-content: center;
    align-items: center;
  }
  a {
    font-family: "circular";
    font-size: 16px;
  }

  .grid {
    display: grid;
    gap: 0.3rem;
  }

  .flexUl {
    display: flex;
    gap: 1rem;
  }
  .flexNav {
    display: flex;
    gap: 15rem; /* Dette skal ændres, da det ikke er responsivt */
  }
</style>

<script></script>
