---
import Knap from "../components/Knap.astro";
---

<header>
  <img src="" alt="" />

  <nav>
    <ul class="flex">
      <li><a href="/"><Knap text="SAMRBEJDE" /></a></li>
      <li><a href="#"><Knap text="KORT" /></a></li>
      <li><a href="/src/pages/program.astro"><Knap text="PROGRAM" /></a></li>
      <li><a href="/"><Knap text="OM OS" /></a></li>
      <li><a href="/"><Knap text="FOTOKONKURRENCE" /></a></li>
    </ul>
  </nav>

  <div>February 2 - 25/2024 København</div>
</header>

<style>
  nav {
  }
  ul {
    list-style: none;
    max-width: fit-content;
    padding: 10px;
    border-radius: 25px;
    background-color: var(--bg-overlay);
  }
  a {
    font-family: "#";
    font-size: 16px;
  }

  .flex {
    display: flex;
    gap: 0.7rem;
  }
</style>

<script></script>
