---
---

<header>
    <img src="" alt="">

    <nav class="flex">
        <a href="/">SAMRBEJDE</a>
        <a href="#">KORT</a>
        <a href="/src/pages/program.astro">PROGRAM</a>
        <a href="/">OM OS</a>
        <a href="/">FOTOKONKURRENCE</a>
    </nav>

    <div>February 2 - 25/2024
        København</div>
</header>

<style>
    nav{
        padding: 10px;
        background-color: var(--bg-overlay);
        border-radius: 25px;
    }

    a{
        font-family: "#";
        font-size: 16px;

    }
    
    .flex{
        display: flex;
    }
</style>

<script></script>