---
import "../styles/style.css";
import Sprog_knap from "../components/Sprog_knap.astro";
import Burger from "../components/Burger.astro";
---

<header id="mobilnav">
  <nav>
    <Sprog_knap class="sprog"/>
    <a href="/"><img src="/icon/Logo.svg" alt="Logo" /></a>
    <Burger />
  </nav>
  <div></div>
</header>

<style>
  header {
    margin: 1rem;
  }
  nav {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    max-width: 100%;
  }

  div {
    font-family: "circular";
    font-size: 22px;
  }

  .sprog{
    justify-self: start;
  }
  .flexUl {
    display: flex;
    gap: 1rem;
  }
  .flexNav {
    display: flex;
    gap: 11%; /* Dette skal ændres, da det ikke er responsivt */
  }

  #mobilnav {
    position: relative;
    z-index: 100;
  }

  @media screen and (min-width: 700px) {
    #mobilnav {
      display: none;
    }
  }
</style>

<script></script>
