---
import "../styles/style.css";
import Knap from "../components/Knap.astro";
import Sprog_knap from "./Sprog_knap.astro";
const ThePageWeAreOn = new URL(Astro.request.url).pathname;
console.log("ThePageWeAreOn", ThePageWeAreOn);
---

<header id="descNav">
  <nav>
    <a href="/" class="logo"><img src="/icon/Logo.svg" alt="Logo" /></a>
    <ul>
      <li>
        <a href="samarbejde"
          ><Knap
            text="SAMARBEJDE"
            active={ThePageWeAreOn === "/samarbejde"}
          /></a
        >
      </li>
      <li>
        <a href="ruter"
          ><Knap text="RUTER" active={ThePageWeAreOn === "/ruter"} /></a
        >
      </li>
      <li>
        <a href="program"
          ><Knap text="PROGRAM" active={ThePageWeAreOn === "/program"} /></a
        >
      </li>
      <li>
        <a href="omos"
          ><Knap text="OM OS" active={ThePageWeAreOn === "/omos"} /></a
        >
      </li>
      <li>
        <a href="foto"
          ><Knap
            text="FOTOKONKURRENCE"
            active={ThePageWeAreOn === "/foto"}
          /></a
        >
      </li>
    </ul>
    <div class="sprogDato">
      <Sprog_knap />
      <div>February 2 - 25/2024</div>
      <div>København</div>
    </div>
  </nav>
</header>

<style>
  header {
    margin: 1rem;
  }
  nav {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    max-width: 100%;
  }

  .logo {
    justify-self: start;
  }

  ul {
    justify-self: center;
    display: flex;
    gap: 1rem;
    list-style: none;
    max-width: fit-content;
    padding: 10px;
    border-radius: 25px;
    background-color: var(--bg-overlay);
    justify-content: center;
    align-items: center;
  }

  a {
    font-family: "circular";
    font-size: 16px;
  }

  .sprogDato {
    justify-self: end;
    margin-top: 0.5rem;
  }
  .sprogDato div {
    padding-top: 0.5rem;
  }

  /*   --------media q------ */
  @media screen and (max-width: 1050px) {
    header {
      display: none;
    }
  }
</style>
