---
import "../styles/style.css";
import Karruselcard from "./Karruselcard.astro";
const data = await fetch(
  "https://kffcbwrcxxuhowdxhsie.supabase.co/rest/v1/CLF",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtmZmNid3JjeHh1aG93ZHhoc2llIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTA3NjU0OTcsImV4cCI6MjAyNjM0MTQ5N30.OEn20IXE7GiqVuiss_Di2sNjpDGwMbCS_hC_B8qSZGM",
    },
  }
).then((res) => res.json());
---

<div class="carousel-container">
  <button class="prev" onclick="prevSlide()">&#10094;</button>
  <div class="carousel">
    <div class="carousel-inner">
      {
        data.map((single) => {
          return <Karruselcard data={single} />;
        })
      }
    </div>
  </div>
  <button class="next" onclick="nextSlide()">&#10095;</button>
</div>

<style>
  .carousel-container {
    display: flex;
    align-items: center;
  }

  .prev,
  .next {
    cursor: pointer;
    font-size: 24px;
    padding: 1%;
  }

  .carousel {
    flex: 1;
    overflow: hidden;
  }

  .carousel-inner {
    display: flex;
  }
</style>

<script>
  const carouselInner = document.querySelector(".carousel-inner");
  let counter = 0;
  const cardWidth = 310; // Bredden af hvert kort inklusive margen

  document.querySelector(".prev").addEventListener("click", prevSlide);
  document.querySelector(".next").addEventListener("click", nextSlide);

  function nextSlide() {
    counter++;
    if (counter > 9) counter = 0;
    const translateValue = -counter * cardWidth; // Juster bredden af kortet + margen efter behov
    carouselInner.style.transform = `translateX(${translateValue}px)`;
  }

  function prevSlide() {
    counter--;
    if (counter < 0) counter = 9;
    const translateValue = -counter * cardWidth; // Juster bredden af kortet + margen efter behov
    carouselInner.style.transform = `translateX(${translateValue}px)`;
  }
</script>
