---
const {text} = Astro.props;
---

<button>{text}</button>

<style>
    button{
        color: var( --primary-text-color);
        background-color: var(--bg-overlay);
        padding: 20px;
        background-image: var(--button-deafult);
        border-radius: 22px;
    }
</style>

<script></script>