---
const {text} = Astro.props;
---

<button>
  <div class="inner">
    {text}
  </div>
</button>

<style>
  button {
    padding: 0.08rem;
    position: relative;
    background: var(--button-deafult);
    border-radius: 1.5rem;
    border: none;
  }

  .inner {
    background: var(--bg-knap);
    color: var(--primary-text-color);
    padding: 0.65rem;
    border-radius: 1.5rem;
  }
</style>

<script></script>
