---
const { text } = Astro.props;
---

<button>{text}</button>
<button>
  <div class="inner">
    {text}
  </div>
</button>

<style>
  button {
    padding: 0.2rem;
    position: relative;
    background: var(--button-deafult);
    border-radius: 22px;
    border: none;
  }

  .inner {
    background: #222;
    color: white;
    padding: 20px;
    border-radius: 20px;
  }
  /* button{
        padding: 20px;
        border: 2px solid  radial-gradient(circle, #d1e7ae, #f66ac4, #9d78ed, #2cbebc) /* var(--button-deafult) */;
        background-color: var(--bg-overlay);
        padding: 20px;
        border-color: var(--button-deafult);
        border-radius: 22px;
    }
</style>

<script></script>
