---

---

<article>
  <h2>Tilmeld vores nyhedsbrev</h2>
  <p>Login</p>
  <p>Tilmeld</p>
  <hr />
  <p>
    Få opdatering på nyheder, event og meget andet både som gæst, kunstner eller
    sponsor.
  </p>
</article>

<style>
  article {
    background-color: var(--nyhedsbrev);
    border-radius: 22px;
    max-width: 500px;
    min-height: 400px;
  }
  h2 {
    padding: 10px;
    padding-left: 100px;
  }
  p {
    color: var(--primary-text-color);
  }

  hr {
    max-width: 400px;
  }
</style>
