---
/* export async function getStaticPaths() { */
const data = await fetch(
  "https://kffcbwrcxxuhowdxhsie.supabase.co/rest/v1/CLF",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtmZmNid3JjeHh1aG93ZHhoc2llIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTA3NjU0OTcsImV4cCI6MjAyNjM0MTQ5N30.OEn20IXE7GiqVuiss_Di2sNjpDGwMbCS_hC_B8qSZGM",
    },
  }
).then((response) => response.json());

return data.map((single) => {
  return {
    params: { slog: single.slog },
    props: { myData: single },
  };
});

const { myData } = Astro.props;
import "../styles/style.css";

// console.log(data);
---

<article>
  <p><strong>Af:</strong>{data.artist}</p>
  <p><strong>Hvor:</strong> Ved Stranden 14</p>

  <p><strong>Lys:</strong> Martin Professional</p>
  <p><strong>Musik:</strong> Bjørn Svin</p>
  <p><strong>Links:</strong> Instagram: @maninikdelstudio</p>
  <p><strong>Tak til:</strong> Stromma, Martin Professional, Bjørn Svin</p>
</article>

<style>
  strong {
    color: var(--link-visited);
  }

  p {
    max-width: 65ch;
    color: var(--primary-text-color);
  }

  div {
    max-width: 65ch;
    color: var(--primary-text-color);
  }
</style>
