---

---

<article>
  <p><strong>Af:</strong> Mani Nikdel (IR/DK)</p>
  <p><strong>Hvor:</strong> Ved Stranden 14</p>
  <p>
    GAIA er en 3 meter stor installation, som er inspireret af Hoberman
    Expandable Sphere. Den forvandler sig til et lysende skue om natten med
    smukke, livlige lys og en reflekterende kugle i centrum. Installationens
    kinetiske symfoniske bevægelse, der er inspireret af Jordens rytmiske puls,
    danner grobund for overvejelser omkring miljømæssig bæredygtighed.
    <div>
      GAIA bliver en katalysator for forandring og forbindelser mellem de
      besøgende, og værket ansporer til, at vi sammen tager ansvar for at bevare
      vores planet. Mani Nikdel er en iransk designer og kunstner, som bor i
      Århus. I 2022 skabte han lyd- og lysinstallationen Transcendence, som var
      en del af Copenhagen Light Festival-programmet på Refshaleøen. I 2023
      skabte han TERRA i Havnegade.
    </div>

    <p><strong>Ly:</strong> Martin Professional</p>
    <p><strong>Musik:</strong> Bjørn Svin</p>
    <p><strong>Links:</strong> Instagram: @maninikdelstudio</p>
    <p><strong>Tak til:</strong> Stromma, Martin Professional, Bjørn Svin</p>
  </p>
</article>
<style>
  strong {
    color: var(--link-visited);
  }

  p {
    max-width: 65ch;
    color: var(--primary-text-color);
  }

  div {
    max-width: 65ch;
    color: var(--primary-text-color);
  }
</style>
