---

---

<div><button>DA</button><button>ENG</button></div>

<style>
    div{
    padding: 0.09rem;
    background: var(--primary-text-color);
    border-radius: 1.5rem;
    max-width: fit-content;
  }
  button{
    background-color: var(--bg-color);
    color: var(--primary-text-color);
    border-radius: 1.5rem;
    border: none;
  }

  button:active{
    background-color: var(--primary-text-color);
    color: var(--bg-color);
    border-radius: 1.5rem;
    border: none;
  }
</style>

<script>
/*    document.getElementById("button").addEventListener("toggle", function() {
    this.classList.add("active");
});

document.getElementById("button").addEventListener("toggle, function() {
    this.classList.remove("active"); }*/


</script>