---
const { inactive } = Astro.props;
---

<div>
  <button class="da" data-active={inactive}>DA</button>
  <button class="eng" data-active={inactive}>ENG</button>
</div>

<style>
  div {
    padding: 0.09rem;
    background: var(--primary-text-color);
    border-radius: 1.5rem;
    max-width: fit-content;
  }
  button {
    background-color: var(--bg-color);
    color: var(--primary-text-color);
    border-radius: 1.5rem;
    border: none;
    align-self: center;
  }

  button:active {
    background-color: var(--primary-text-color);
    color: var(--bg-color);
    border-radius: 1.5rem;
    border: none;
  }
  .is-active {
    background-color: var(--primary-text-color);
    color: var(--bg-color);
  }
</style>

<script>
  /*      document.getElementById(".da").addEventListener("toggle", function() {
    this.classList.add("active");
});

document.getElementById(".da").addEventListener("toggle", function(){
    this.classList.remove("active")}); */

  document.querySelector(".da").addEventListener("toggle", function () {
    this.classList.add("active");
  });

  document.querySelector(".da").addEventListener("toggle", function () {
    this.classList.remove("active");
  });
</script>
