---

---

<article id="mobilTop" class="ned">
  <a href="#mobilNav"></a>
  <a href="#toppen"></a>
  <ul>
    <li class="pil">
      <div class="streg"></div>
    </li>
    <li><p>Hop til toppen</p></li>
  </ul>
</article>

<style>
  .streg {
    width: 0;
    height: 4px;
    border-left: 2px solid rgb(255, 255, 255); /* venstre kant */
    border-right: 2px solid rgb(255, 255, 255); /* højre kant */
    border-bottom: 2px solid rgb(255, 255, 255); /* bunden */
    margin-top: 10px;
    margin-left: -1.8px;
  }
  .pil {
    width: 0;
    height: 0;
    border-left: 10px solid transparent; /* venstre kant */
    border-right: 10px solid transparent; /* højre kant */
    border-bottom: 10px solid rgb(255, 255, 255); /* bunden */
    padding-top: 10px;
  }

  .ned {
    transition: transform 0.2s ease; /* Legger til en overgang for jevn animation */
  }

  .ned:hover {
    transform: translateY(
      15px
    ); /* Translaterer elementet 5 piksler nedover når det sveves over */
  }

  li {
    list-style: none;
    display: inline-block;
  }

  /*   --------media q-------- */
  @media screen and (min-width: 1100px) {
    .ned {
      display: none;
    }
  }
</style>
